<a href="https://colab.research.google.com/github/HoangCuong0811/PhanTichDuLieuPython/blob/main/Pandas_Assignment6_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Chipotle

In [ ]:
import pandas as pd

In [ ]:
chipo = pd.read_table('http://bit.ly/chiporders')

In [ ]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [ ]:
chipo.shape

(4622, 5)

In [ ]:
len(chipo)

4622

In [ ]:
len(chipo.index)

4622

In [ ]:
len(chipo.columns)

5

In [ ]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [ ]:
chipo.groupby('item_name').quantity.agg(['count']).sort_values(by='count', ascending = False).reset_index().iloc[0]

item_name    Chicken Bowl
count                 726
Name: 0, dtype: object

In [ ]:
c = chipo.groupby('item_name').sum()
c.sort_values(by='quantity', ascending = False).reset_index().head(1)

      item_name  order_id  quantity
0  Chicken Bowl    713926       761

In [ ]:
chipo.groupby('choice_description').sum().sort_values('quantity', ascending = False).reset_index().head(1)

  choice_description  order_id  quantity
0        [Diet Coke]    123455       159

In [ ]:
chipo.quantity.sum()

4972

In [ ]:
chipo.item_price.dtype

dtype('O')

In [ ]:
price = lambda x : float(x[1:-1])
chipo.item_price = chipo.item_price.apply(price)

In [ ]:
chipo.item_price.dtype

dtype('float64')

In [ ]:
revenue = (chipo.quantity * chipo.item_price).sum()
revenue

39237.02

In [ ]:
chipo.order_id.value_counts().count()

1834

In [ ]:
chipo['revenue'] = chipo.item_price * chipo.quantity
profit = chipo.groupby('order_id').sum()
pros = profit.mean()
pros.revenue

21.39423118865867

In [ ]:
chipo.item_name.value_counts().count()

50

Occupation

In [ ]:
names = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
user = pd.read_table('http://bit.ly/movieusers', sep = '|',names = names, index_col = 'user_id')
user

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

In [ ]:
user.head(25)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

In [ ]:
user.tail(10)

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

In [ ]:
len(user)

943

In [ ]:
len(user.columns)

4

In [ ]:
user.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [ ]:
user.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

In [ ]:
user.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [ ]:
user.occupation

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [ ]:
user.occupation.value_counts().count()

21

In [ ]:
user.occupation.value_counts().sort_values(ascending = False).head(1)

student    196
Name: occupation, dtype: int64

In [ ]:
user.age.mean()

34.05196182396607

In [ ]:
user.tail(1)['age']

user_id
943    22
Name: age, dtype: int64

In [ ]:
user.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

In [ ]:
user.describe(include='all')

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

In [ ]:
user.occupation.describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [ ]:
user.age.value_counts().tail()

7     1
66    1
11    1
10    1
73    1
Name: age, dtype: int64

World Food Facts

In [ ]:
food = pd.read_csv("/content/en.openfoodfacts.org.products.tsv", sep='\t',low_memory=False)

In [ ]:
food.head()

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,fruits-vegetables-nuts_100g,fruits-vegetables-nuts-estimate_100g,collagen-meat-protein-ratio_100g,cocoa_100g,chlorophyl_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g
0,3087,http://world-en.openfoodfacts.org/product/0000...,openfoodfacts-contributors,1474103866,2016-09-17T09:17:46Z,1474103893,2016-09-17T09:18:13Z,Farine de blé noir,NaN,1kg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4530,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Banana Chips Sweetened (Whole),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.0,14.0,NaN,NaN
2,4559,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Peanuts,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
3,16087,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055731,2017-03-09T10:35:31Z,1489055731,2017-03-09T10:35:31Z,Organic Salted Nut Mix,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,12.0,NaN,NaN
4,16094,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055653,2017-03-09T10:34:13Z,1489055653,2017-03-09T10:34:13Z,Organic Polenta,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
food.shape

(13260, 163)

In [ ]:
len(food.columns)

163

In [ ]:
food.columns

Index(['code', 'url', 'creator', 'created_t', 'created_datetime',
       'last_modified_t', 'last_modified_datetime', 'product_name',
       'generic_name', 'quantity',
       ...
       'fruits-vegetables-nuts_100g', 'fruits-vegetables-nuts-estimate_100g',
       'collagen-meat-protein-ratio_100g', 'cocoa_100g', 'chlorophyl_100g',
       'carbon-footprint_100g', 'nutrition-score-fr_100g',
       'nutrition-score-uk_100g', 'glycemic-index_100g',
       'water-hardness_100g'],
      dtype='object', length=163)

In [ ]:
food.code

0               3087
1               4530
2               4559
3              16087
4              16094
            ...
13255    16229906191
13256    16229906207
13257    16229906221
13258    16229906344
13259    16229906351
Name: code, Length: 13260, dtype: int64

In [ ]:
food.columns[105]

'-fructose_100g'

In [ ]:
food.dtypes[105]

dtype('float64')

In [ ]:
food.index

RangeIndex(start=0, stop=13260, step=1)

In [ ]:
food.columns[19]

'manufacturing_places'

In [ ]:
food.product_name[19]

'Organic Oat Groats'